__DAY 11 ASSIGNMENT__
Sarthak Kumar Das
sarthakkdas.official@gmail.com

In [6]:
import os

os.chdir(r"C:\Users\Acer\Desktop\COURSES\LetsUpgrade DataScience\Resources\DAY 7 14th (Project on 25th)")

In [16]:
import pandas as pd

dataset = pd.read_csv('general_data.csv')
dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [17]:

dataset.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [20]:
d = {'No': 0, 'Yes': 1}
dataset['Attrition'] = dataset['Attrition'].map(d).fillna(dataset['Attrition'])
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [21]:

dataset.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [22]:
import pandas as pd
from scipy.stats import pearsonr as pr



dataset = pd.read_csv('general_data.csv')

d = {'No': 0, 'Yes': 1}
dataset['Attrition'] = dataset['Attrition'].map(d).fillna(dataset['Attrition'])
dataset['Attrition'].round(0).astype(int)
dataset
#print('r,p',pr(dataset.Attrition,dataset.DistanceFromHome))

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,0,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,0,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,0,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,0,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [27]:

#1st Hypothesis

"H0 = There is no signficant difference between Attrition and DistanceFromHome"
"H1 = There is signficant difference between Attrition and DistanceFromHome"

print('r,p',pr(dataset.Attrition,dataset.DistanceFromHome))

#Conclusion: Since Probability value is 0.51828 which means P is greater than 0.05. Therefore Null hypothesis is Accepted 
#and Alternate hypothesis is rejected.

r,p (-0.009730141010179674, 0.5182860428050771)

In [28]:
#2nd hypothesis

"H0 = There is no signficant difference between Attrition and Age"
"H1 = There is signficant difference between Attrition and Age"

print('r,p',pr(dataset.Attrition,dataset.Age))

#Conclusion: Since Probability value is 1.09967e-26 which means P is lesser than 0.05. Therefore Null hypothesis is Rejected 
#and Alternate hypothesis is accepted.

r,p (-0.15920500686577965, 1.996801615886744e-26)

In [29]:
#3nd hypothesis

"H0 = There is no signficant difference between Attrition and PercentSalaryHike"
"H1 = There is signficant difference between Attrition and PercentSalaryHike"

print('r,p',pr(dataset.Attrition,dataset.PercentSalaryHike))

#Conclusion: Since Probability value is 0.0307 which means P is lesser than 0.05. Therefore Null hypothesis is Rejected 
#and Alternate hypothesis is accepted.

r,p (0.03253259489105349, 0.030743386433355353)

In [30]:
#4nd hypothesis

"H0 = There is no signficant difference between Attrition and TrainingTimesLastYear"
"H1 = There is signficant difference between Attrition and TrainingTimesLastYear"

print('r,p',pr(dataset.Attrition,dataset.TrainingTimesLastYear))

#Conclusion: Since Probability value is 0.001024 which means P is lesser than 0.05. Therefore Null hypothesis is Rejected 
#and Alternate hypothesis is accepted.

r,p (-0.049430576244255, 0.0010247061915365072)

In [31]:
#5nd hypothesis

"H0 = There is no signficant difference between Attrition and YearsAtCompany"
"H1 = There is signficant difference between Attrition and YearsAtCompany"

print('r,p',pr(dataset.Attrition,dataset.YearsAtCompany))

#Conclusion: Since Probability value is 3.16388e-19 which means P is lesser than 0.05. Therefore Null hypothesis is Rejected 
#and Alternate hypothesis is accepted.

r,p (-0.1343922139899772, 3.1638831224877484e-19)

In [32]:
#6nd hypothesis

"H0 = There is no signficant difference between Attrition and MonthlyIncome"
"H1 = There is signficant difference between Attrition and MonthlyIncome"

print('r,p',pr(dataset.Attrition,dataset.MonthlyIncome))

#Conclusion: Since Probability value is 3.16388e-19 which means P is lesser than 0.05. Therefore Null hypothesis is Rejected 
#and Alternate hypothesis is accepted.

r,p (-0.031176281698115007, 0.03842748490600132)

In [39]:
#7th hypothesis

"H0 = There is no signficant difference between Attrition and MonthlyIncome"
"H1 = There is signficant difference between Attrition and MonthlyIncome"

print('r,p',pr(dataset.Attrition,dataset.StandardHours))

#Conclusion: Since Probability value is 0 which means P is lesser than 0.05. Therefore Null hypothesis is Rejected 
#and Alternate hypothesis is accepted.

r,p (nan, nan)

E:\Python\lib\site-packages\scipy\stats\stats.py:3508: PearsonRConstantInputWarning: An input array is constant; the correlation coefficent is not defined.
  warnings.warn(PearsonRConstantInputWarning())

In [35]:
#8th hypothesis

"H0 = There is no signficant difference between Attrition and StockOptionLevel"
"H1 = There is signficant difference between Attrition and StockOptionLevel"

print('r,p',pr(dataset.Attrition,dataset.StockOptionLevel))

#Conclusion: Since Probability value is 0.64 which means P is greater than 0.05. Therefore Null hypothesis is Accepted
#and Alternate hypothesis is Rejected.

r,p (-0.006838852403261513, 0.6498072937475723)

In [36]:
#9th hypothesis

"H0 = There is no signficant difference between Attrition and YearsWithCurrManager"
"H1 = There is signficant difference between Attrition and YearsWithCurrManager"

print('r,p',pr(dataset.Attrition,dataset.YearsWithCurrManager))

#Conclusion: Since Probability value is 0.1.734e-25 which means P is lesser than 0.05. Therefore Null hypothesis is Rejected
#and Alternate hypothesis is Accepted.

r,p (-0.15619931590162847, 1.7339322652896276e-25)

In [37]:
#10th hypothesis

"H0 = There is no signficant difference between Attrition and YearsSinceLastPromotion"
"H1 = There is signficant difference between Attrition and YearsSinceLastPromotion"

print('r,p',pr(dataset.Attrition,dataset.YearsSinceLastPromotion))

#Conclusion: Since Probability value is 0 which means P is lesser than 0.05. Therefore Null hypothesis is Rejected
#and Alternate hypothesis is Accepted.

r,p (-0.03301877514258434, 0.028330336189396753)

In [40]:
dataset.corr()

,Age,Attrition,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,-0.159205,0.006963,-0.035706,NaN,0.008649,-0.002884,-0.044314,0.299243,-0.033137,NaN,-0.031753,0.680661,-0.027308,0.311309,0.216513,0.202089
Attrition,-0.159205,1.000000,-0.009730,-0.015111,NaN,-0.004729,-0.010290,-0.031176,0.042345,0.032533,NaN,-0.006839,-0.170338,-0.049431,-0.134392,-0.033019,-0.156199
DistanceFromHome,0.006963,-0.009730,1.000000,-0.008638,NaN,-0.001097,-0.037329,-0.021607,-0.013843,0.038125,NaN,0.011169,0.009374,-0.009001,0.031684,0.002290,0.021584
Education,-0.035706,-0.015111,-0.008638,1.000000,NaN,-0.009680,0.045746,0.006410,-0.016250,-0.040531,NaN,0.001261,-0.010717,0.010472,0.006080,0.022490,0.005358
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008649,-0.004729,-0.001097,-0.009680,NaN,1.000000,-0.003303,0.007338,-0.001117,-0.004456,NaN,-0.014254,-0.001063,-0.010191,0.004086,0.000256,0.008579
JobLevel,-0.002884,-0.010290,-0.037329,0.045746,NaN,-0.003303,1.000000,0.047316,-0.009875,0.010973,NaN,0.000993,-0.036957,-0.032500,-0.064219,-0.060811,-0.055251
MonthlyIncome,-0.044314,-0.031176,-0.021607,0.006410,NaN,0.007338,0.047316,1.000000,-0.020726,0.004325,NaN,0.026930,-0.033787,0.050112,0.000995,0.065219,0.024304
NumCompaniesWorked,0.299243,0.042345,-0.013843,-0.016250,NaN,-0.001117,-0.009875,-0.020726,1.000000,0.030860,NaN,0.017163,0.238807,-0.032286,-0.117959,-0.036656,-0.109667
PercentSalaryHike,-0.033137,0.032533,0.038125,-0.040531,NaN,-0.004456,0.010973,0.004325,0.030860,1.000000,NaN,0.012548,-0.018736,-0.037392,-0.029707,-0.029542,-0.040864
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031753,-0.006839,0.011169,0.001261,NaN,-0.014254,0.000993,0.026930,0.017163,0.012548,NaN,1.000000,0.002694,-0.069902,0.007886,0.019063,0.017757
TotalWorkingYears,0.680661,-0.170338,0.009374,-0.010717,NaN,-0.001063,-0.036957,-0.033787,0.238807,-0.018736,NaN,0.002694,1.000000,-0.040762,0.627703,0.404444,0.458800
TrainingTimesLastYear,-0.027308,-0.049431,-0.009001,0.010472,NaN,-0.010191,-0.032500,0.050112,-0.032286,-0.037392,NaN,-0.069902,-0.040762,1.000000,-0.007894,0.016121,-0.013270
YearsAtCompany,0.311309,-0.134392,0.031684,0.006080,NaN,0.004086,-0.064219,0.000995,-0.117959,-0.029707,NaN,0.007886,0.627703,-0.007894,1.000000,0.618409,0.769212
YearsSinceLastPromotion,0.216513,-0.033019,0.002290,0.022490,NaN,0.000256,-0.060811,0.065219,-0.036656,-0.029542,NaN,0.019063,0.404444,0.016121,0.618409,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.156199,0.021584,0.005358,NaN,0.008579,-0.055251,0.024304,-0.109667,-0.040864,NaN,0.017757,0.458800,-0.013270,0.769212,0.510224,1.000000